{% extends 'base.html' %}
{% load static %}

{% block content %}

<main class="main">

    <div class="site-breadcrumb" style="background: url('{% static 'assets/images/goft/photo17588925171.jpg' %}')">
        <div class="container">
            <h2 class="breadcrumb-title">بخش دل‌کست</h2>
            <ul class="breadcrumb-menu">
                <li><a href="{% url 'home:index' %}">خانه</a></li>
                <li class="active">دل‌کست</li>
            </ul>
        </div>
    </div>

    <div class="episode-single py-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-xl-3">
                    <div class="widget">
                        <h4 class="widget-title">گوش کردن توسط : </h4>
                        <div class="listen-on">
                            <a href="#"><img src="{% static 'assets/images/spotify.svg' %}" alt=""></a>
                            <a href="#"><img src="{% static 'assets/images/google.svg' %}" alt=""></a>
                            <a href="#"><img src="{% static 'assets/images/apple.svg' %}" alt=""></a>
                            <a href="#"><img src="{% static 'assets/images/itunes.svg' %}" alt=""></a>
                            <a href="#"><img src="{% static 'assets/images/soundcloud.svg' %}" alt=""></a>
                        </div>
                    </div>
                    <div class="widget">
                        <h4 class="widget-title">نوع پادکست</h4>
                        <div class="category-list">
                            <a href="#"><i class="far fa-arrow-left"></i>پادکست عاشقانه<span>(۱۰)</span></a>
                            <a href="#"><i class="far fa-arrow-left"></i>پادکست خانوادگی<span>(۱۵)</span></a>
                            <a href="#"><i class="far fa-arrow-left"></i>پادکست دلتنگی<span>(۲۶)</span></a>
                            <a href="#"><i class="far fa-arrow-left"></i>پادکست مادرانه<span>(۲۰)</span></a>
                            <a href="#"><i class="far fa-arrow-left"></i>پادکست زندگی<span>(۳۰)</span></a>
                            <a href="#"><i class="far fa-arrow-left"></i>پادکست سربازی<span>(۳۰)</span></a>
                            <a href="#"><i class="far fa-arrow-left"></i>پادکست سفر<span>(۳۰)</span></a>
                        </div>
                    </div>
                    <div class="widget">
                        <h4 class="widget-title">مناسبت ها</h4>
                        <div class="tag-list">
                            <a href="#">روز زن</a>
                            <a href="#">روز مادر</a>
                            <a href="#">روز پدر</a>
                            <a href="#">روز دانشجو</a>
                            <a href="#">روز کارگر</a>
                        </div>
                    </div>
                    <div class="widget">
                        <h4 class="widget-title">بازه زمانی</h4>
                        <ul class="checkbox-list">
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="order1">
                                    <label class="form-check-label" for="order1">2 دقیقه</label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="order2">
                                    <label class="form-check-label" for="order2">5 دقیقه</label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="order3">
                                    <label class="form-check-label" for="order3">10 دقیقه</label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="order3">
                                    <label class="form-check-label" for="order3">15 دقیقه</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-8 col-xl-9">
                    <div class="episode-single-content">
                        <div class="col-lg-12 align-self-center">
                            <div class="contact-form">
                                <div class="episode-single-info">
                                    <h3 class="site-title">پادکست خود را از دل و با <span>دل‌کست</span> به دوستان خود هدیه دهید</h3>
                                    <!-- <p class="mb-20">
                                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد در این صورت می توان امید داشت
                                    </p> -->
                                </div>
                                <br>
                                <hr>
                                <form method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">  
                                                <input type="text" class="form-control" name="title" placeholder="عنوان دل‌کست" required>  
                                            </div>
                                        </div>
                                        <!-- <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="{{ form.Occasion.id_for_label }}">مناسبت:</label>
                                                {{ form.Occasion }}
                                                {% if form.Occasion.errors %}
                                                    <div class="text-danger">{{ form.Occasion.errors }}</div>
                                                {% endif %}
                                            </div>
                                        </div> -->
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">  
                                                <input type="text" class="form-control" name="name_suname" placeholder="نام گیرنده" required>  
                                            </div>
                                        </div>
                                        <!-- <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="{{ form.time.id_for_label }}">مدت زمان:</label>
                                                {{ form.time }}
                                                {% if form.time.errors %}
                                                    <div class="text-danger">{{ form.time.errors }}</div>
                                                {% endif %}
                                            </div>
                                        </div> -->
                                    </div>
                                    <div class="col-md-10">
                                        <div class="form-group">  
                                            <textarea name="text" cols="30" rows="5" class="form-control" placeholder="متن سفارش خود را بنویسید" required></textarea>  
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">  
                                            <label>عکس (اجباری)</label>  
                                            <input type="file" name="image" class="form-control">  
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">  
                                            <label>صوت (اجباری)</label>  
                                            <input type="file" name="audio" class="form-control">  
                                        </div>
                                    </div>
                                    <button type="submit" class="theme-btn">ثبت سفارش <i class="far fa-paper-plane"></i></button>
                                    <div class="col-md-12 mt-3">
                                        <div class="form-messege text-success"></div>
                                    </div>
                                    <div class="col-md-12 mt-3">  
                                        <div class="form-messege text-success"></div>  
                                        {% if messages %}  
                                            {% for message in messages %}  
                                                <div class="alert alert-danger">{{ message }}</div>  
                                            {% endfor %}  
                                        {% endif %}  
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

{% endblock %}