{% extends 'base.html' %}
{% load static %}

{% block content %}

<main class="main">

    <div class="site-breadcrumb" style="background: url('{% static 'assets/images/goft/photo17166891664.jpg' %}')">
        <div class="container">
            <h2 class="breadcrumb-title">خاطرات استنادی</h2>
            <ul class="breadcrumb-menu">
                <li><a href="{% url 'home:index' %}">خانه</a></li>
                <li class="active">خاطرات استنادی</li>
            </ul>
        </div>
    </div>


    <div class="podcast-area py-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="podcast-sidebar">
                        <div class="podcast-widget">
                            <div class="podcast-search-form">
                                <h4 class="widget-title">جستجو</h4>
                                <form action="#">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="جستجو">
                                        <button type="search"><i class="feather-search"></i></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="podcast-widget">
                            <h4 class="widget-title">دسته بندی</h4>
                            <ul class="category-list">
                                <li><a href="#"><i class="far fa-microphone-lines"></i>خاطرات استنادی<span>(۱۵)</span></a></li>
                                <!-- <li><a href="#"><i class="far fa-microphone-lines"></i>پادکست
                                        آموزش<span>(۲۰)</span></a></li>
                                <li><a href="#"><i class="far fa-microphone-lines"></i> پادکست
                                        لایف استایل<span>(۰۵)</span></a></li>
                                <li><a href="#"><i class="far fa-microphone-lines"></i>پادکست
                                        سفر<span>(۰۷)</span></a></li>
                                <li><a href="#"><i class="far fa-microphone-lines"></i>پادکست
                                        تکنولوژي<span>(۰۹)</span></a></li>
                                <li><a href="#"><i class="far fa-microphone-lines"></i>پادکست
                                        پزشکی<span>(۲۵)</span></a></li>
                                <li><a href="#"><i class="far fa-microphone-lines"></i>پادکست
                                        کمدی<span>(۲۱)</span></a></li>
                                <li><a href="#"><i class="far fa-microphone-lines"></i>پادکست
                                        رشد زندگی<span>(۱۲)</span></a></li> -->
                            </ul>
                        </div>
                        <div class="podcast-widget">
                            <h4 class="widget-title">مرتب سازی</h4>
                            <ul class="checkbox-list">
                                <li>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="order1">
                                        <label class="form-check-label" for="order1">جدیدترین</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="order2">
                                        <label class="form-check-label" for="order2">مشهورترین</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="order3">
                                        <label class="form-check-label" for="order3">ترندترین</label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="podcast-sort">
                        <div class="row align-items-center">
                            <div class="col-md-6 col-lg-6 col-xl-8">
                                <div class="podcast-sort-show">نمایش ۱-۱۵ از 219 نتیجه</div>
                            </div>
                            <div class="col-md-6 col-lg-6 col-xl-4">
                                <div class="podcast-sort-box">
                                    <span class="podcast-sort-label"> مرتب سازی:</span>
                                    <select class="select">
                                        <option value="1">پیش فرض</option>
                                        <option value="2">بیشترین بازدید</option>
                                        <option value="3">بیشترین امتیاز</option>
                                        <option value="4">بیشترین لایک</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="episode-list">
                        <div class="row g-4">
                            {% for memory in memories %}
                            <div class="col-md-12">
                                <div class="episode-item">
                                    <div class="episode-img">
                                        <a href="{% url 'home:episode_detail' memory.id %}" class="episode-favourite"><i class="far fa-heart"></i></a>
                                        {% if memory.image %}  
                                        <img src="{{ memory.image.url }}" alt="{{ memory.title }}">  
                                         {% else %}  
                                        <img src="{% static 'assets/images/default.jpg' %}" alt="تصویری موجود نیست" style="width: 100%; height: auto;">  
                                        <!-- می‌توانید یک تصویر پیش فرض برای الگوها نشان دهید -->  
                                        {% endif %}
                                    </div>
                                    <div class="episode-content">
                                        <h4><a href="{% url 'home:episode_detail' memory.id %}">{{ memory.title }}</a></h4>
                                        <div class="episode-meta">
                                            <ul>
                                                <li><i class="far fa-podcast"></i> هدیه دهید</li>
                                                <li><i class="far fa-calendar-alt"></i>{{ memory.date }}</li>
                                            </ul>
                                        </div>
                                        <p>
                                            {{ memory.body|truncatewords:20 }} <!-- نمایش 20 کلمه اول متن -->
                                        </p>
                                        <div class="episode-bottom">
                                            <div class="episode-host">
                                                <h6><i class="far fa-user-tie-hair"></i> توسط گروه گفت</h6>
                                            </div>
                                            <div class="episode-player">
                                                <button type="button" class="player-btn amplitude-play-pause"
                                                    data-song-add="8">
                                                    <i class="fas fa-play"></i>
                                                </button>
                                                <button type="button" class="download-btn" onclick="window.location.href='{{ memory.file.url }}'">  
                                                    <i class="fa fa-download"></i>  
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% empty %}  
                            <p>هیچ خاطره‌ای موجود نیست.</p>  
                            {% endfor %}
                        </div>
                    </div>

                    <div class="pagination-area mt-50">
                        <div aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true"><i class="fas fa-arrow-right"></i></span>
                                    </a>
                                </li>
                                {% for page_num in page_range %}
                                <li class="page-item {% if page_num == current_page %}active{% endif %}"><a class="page-link" href="#">۱</a></li>
                                <!-- <li class="page-item"><a class="page-link" href="#">۲</a></li>
                                <li class="page-item"><span class="page-link">...</span></li>
                                <li class="page-item"><a class="page-link" href="#">۱۰</a></li>
                                <li class="page-item"> -->
                                    <a class="page-link" href="?page={{ page_num }}" aria-label="Next">
                                        {{ page_num }}
                                    </a>
                                </li>
                                {% endfor %}  
                                <li class="page-item">  
                                    <a class="page-link" href="#" aria-label="Next">  
                                        <span aria-hidden="true"><i class="fas fa-arrow-right"></i></span>  
                                    </a>  
                                </li>  
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</main>


{% endblock %}