{% extends 'base.html' %}
{% load static %}

{% block content %}

<main class="main">

    <div class="site-breadcrumb" style="background: url('{% static 'assets/images/goft/photo17166891664.jpg' %}')">
        <div class="container">
            <h2 class="breadcrumb-title">ثبت نام</h2>
            <ul class="breadcrumb-menu">
                <li><a href="{% url 'home:index' %}">خانه</a></li>
                <li class="active">ثبت نام</li>
            </ul>
        </div>
    </div>
    
    <div class="auth-area py-80">
        <div class="container">
            <form id="contact-form" class="contact-form" method="post">
                
                <div class="messages"></div>
                {% csrf_token %}
                <div class="col-md-5 col-lg-4 mx-auto">
                    <div class="auth-wrap">
                        <div class="auth-header">
                            <img src="{% static 'assets/images/goft2.png' %}" alt="">
                            <p>حساب گفت کست خود را ایجاد کنید</p>
                        </div>
                        <div class="auth-form">
                                <div class="form-group">
                                    <label>نام کاربری</label>
                                    <input type="text" class="form-control" name="full_name" id="full_name" placeholder="نام کاربری"
                                    required="required">
                                </div>
                                <div class="form-group">
                                    <label>شماره موبایل</label>
                                    <input type="number" class="form-control" id="phone_number" name="phone_number" placeholder="شماره موبایل"
                                    required="required">
                                </div>
                                <div class="form-group">
                                    <label>ایمیل</label>
                                    <input type="email" class="form-control" id="email" name="email" placeholder="ایمیل"
                                    required="required">
                                </div>
                                <div class="form-group">
                                    <label>رمز عبور</label>
                                    <input type="text" class="form-control" name="password" id="password" placeholder="رمز عبور شما"
                                    required="required">
                                </div>
                                <div class="form-group">
                                    <label>تکرار رمز عبور</label>
                                    <input type="text" class="form-control" name="conpass" id="conpass" placeholder="تکرار رمز عبور"
                                    required="required">
                                </div>
                                <div class="auth-check">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="agree">
                                        <label class="form-check-label" for="agree">
                                            من با <a href="#">شرایط خدمات</a> موافقم
                                        </label>
                                    </div>
                                </div>
                                <div class="auth-btn">
                                    <button type="submit" name="submit" id="submit" value="submit" class="theme-btn"><span class="far fa-paper-plane"></span>ورود</button>
                                </div>
                            <div class="auth-footer">
                                <div class="auth-social">
                                    <span class="auth-divider">یا</span>
                                    <div class="auth-social-list">
                                        <a href="#" class="auth-fb"><i class="fab fa-facebook-f"></i>فیسبوک</a>
                                        <a href="#" class="auth-gl"><i class="fab fa-google"></i>گوگل</a>
                                        <a href="#" class="auth-tw"><i class="fab fa-x-twitter"></i>توییتر</a>
                                    </div>
                                </div>
                                <p>از قبل حساب کاربری دارید؟ <a href="{% url 'accounts:user_login' %}">وارد شوید.</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</main>


{% endblock %}