{% extends 'base.html' %}
{% load static %}

{% block content %}
    

<main class="main">

    <div class="site-breadcrumb" style="background: url('{% static 'assets/images/goft/photo17166891664.jpg' %}')">
        <div class="container">
            <h2 class="breadcrumb-title">فراموشی رمز عبور</h2>
            <ul class="breadcrumb-menu">
                <li><a href="{% url 'home:index' %}">خانه</a></li>
                <li class="active">فراموشی رمز عبور</li>
            </ul>
        </div>
    </div>

    <div class="auth-area py-80">
        <div class="container">
            <div class="col-md-5 col-lg-4 mx-auto">
                <div class="auth-wrap">
                    <div class="auth-header">
                        <img src="{% static 'assets/images/goft2.png' %}" alt="">
                        <p>رمز عبور حساب خود را بازنشانی کنید</p>
                    </div>
                    <div class="auth-form">
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label>رمز عبور</label>
                                <input type="text" name="password" id="password" class="form-control" placeholder="رمز عبور جدید خود را وارد کنید">
                            </div>
                            <div class="auth-btn">
                                <button type="submit" class="theme-btn"><span class="far fa-key"></span>ارسال کد بازیابی</button>
                            </div>
                        </form>
                        <span class="newsletter-privacy text-center mt-3">هنوز حسابی ندارید؟ <a href="{% url 'accounts:user_register' %}">ثبت نام</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

{% endblock %}